<h1>
  {{title}}
</h1>
<hr>
<new-operation (addOperation)="addOperation($event)"></new-operation>
<app-currencies (currencySelected)="onCurrencyChange($event)" [currencies]="currencies | async" [selectedCurrency]="selectedCurrency | async" ></app-currencies>
<hr>
<operations-list [operations]="operations | async" [selectedCurrency]="selectedCurrency | async" (deleteOperation)="deleteOperation($event)" (incrementOperation)="incrementOperation($event)"
  (decrementOperation)="decrementOperation($event)">
</operations-list>
